@using Cranberrries.Web.Models
@using Microsoft.AspNet.Identity
@model List<Song>

@{
    ViewBag.Title = "Tüm Şarkılar";
}

<table class="table table-striped table-hover dataTable">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Albüm Ad</th>
            <th>Kapak Foto</th>
            <th>Writer User</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Song song in Model)
        {
            <tr>
                <td>@song.Name</td>
                <td>@song.Album.Name</td>
                <td><img src="@song.Album.AlbumPhotoUrl" width="25px" height="25px" /></td>
                <td>@song.UserId</td>
                <td><a href="/Songs/Detail/@song.Id">Lyrics</a></td>
            </tr>
        }
    </tbody>

</table>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>

    $(document).ready(function () {
        $(".dataTable").DataTable();
    });
</script>